<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Coollections</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <b>Coollections</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Index" asp-controller="Home">
                            Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Index" asp-controller="User">
                            Profile
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group" role="group" aria-label="langSelect" style="position: fixed; bottom: 10px; left: 10px">
                            <input type="radio" class="btn-check" name="langSelect" id="engLangSelect" autocomplete="off" checked="">
                            <label class="btn btn-sm btn-outline-light" for="engLangSelect">English</label>
                            <input type="radio" class="btn-check" name="langSelect" id="ruLangSelect" autocomplete="off" checked="">
                            <label class="btn btn-sm btn-outline-light" for="ruLangSelect">Русский</label>
                        </div>
                        <div class="btn-group" role="group" aria-label="themeSelect" style="position: fixed; bottom: 10px; right: 10px">
                            <input onclick="switchToLightTheme()" type="radio" class="btn-check" name="themeSelect"
                                   id="lightThemeSelect" autocomplete="off" checked="">
                            <label class="btn btn-sm btn-outline-light" for="lightThemeSelect">Light</label>
                            <input onclick="switchToDarkTheme()" type="radio" class="btn-check" name="themeSelect" 
                                   id="darkThemeSelect" autocomplete="off" checked="">
                            <label class="btn btn-sm btn-outline-dark" for="darkThemeSelect">Dark</label>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/properties.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/tools/coockies.js"></script>
<script src="~/js/shared/themes.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
    $(document).ready(function() {
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>