@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<script src="~/js/auth/login.js"></script>

<br/>
<form class="col-lg-6 offset-lg-3 ">
    <fieldset class="row justify-content-center">
        <legend>
            <h1 data-text="Login" class="display-2 text-center coolang">Login</h1>
        </legend>
        <div class="form-group">
            <label data-text="Email" for="emailInput" class="form-label mt-4 coolang">Email</label>
            <input name="Email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label data-text="Password" for="passwordInput" class="form-label mt-4 coolang"></label>
            <input name="Password" type="password" class="form-control" id="passwordInput">
        </div>
        <div>
            <small id="logError"></small>
        </div>
    </fieldset>
</form>
<div class="col-lg-6 offset-lg-3 " style="margin-top: 20px">
    <button data-text="Login" onclick="requestLogin()" type="button" class="btn btn-primary d-inline coolang">
        Login
    </button>
    <button data-text="Registration" onclick="openRegistration()" class="d-inline btn btn-outline-secondary coolang">
        Registration
    </button>
</div>