@{
    ViewBag.Title = "Registration";
    Layout = "_Layout";
}

<br/>
<form class="col-lg-6 offset-lg-3 ">
    <fieldset class="row justify-content-center">
        <legend>
            <h1 class="text-center display-2">Registration</h1>
        </legend>
        <div class="form-group">
            <label for="nameInput" class="form-label mt-4">Name</label>
            <input name="Name" type="text"
                   class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="emailInput" class="form-label mt-4">Email address</label>
            <input name="Email" type="email"
                   class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="passwordInput" class="form-label mt-4">Enter password</label>
            <input name="Password" type="password" class="form-control" id="passwordInput" placeholder="Password">
        </div>
        <div>
            <small id="regError"></small>
        </div>
    </fieldset>
</form>
<div class="col-lg-6 offset-lg-3 " style="margin-top: 20px">
    <button onclick="requestRegistration()" type="button" class="btn btn-primary d-inline">
        Register
    </button>
    <button onclick="openLogin()" class="d-inline btn btn-outline-secondary">
        Login
    </button>
</div>

<script src="~/js/auth/registration.js">
</script>